<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telkom.smartlogistic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/title_app"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartLogistic">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="locked"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.registration.RegistrationActivity" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.order.OrderActivity" />
        <activity android:name=".ui.history.HistoryActivity" />
        <activity android:name=".ui.onboarding.OnboardingActivity" />
        <activity android:name=".ui.loginorsignup.LoginOrSignUpActivity" />
    </application>
</manifest>